<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi arjun</h1>
    <!--<h3>Course Name:<%="hellaoooo"%></h3>
    <h3>Course Name:<%="hellaaaaaa"%></h3>-->

    <% for(var i=0; i<xy.length; i++) { %>
        <h3>Course <%= i+1 %>: <%= xy[i].name %></h3>
    <% } %>
</body>
</html>
