<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="Out">
   <h3><h1>Worker</h1><br><br>
Name:
<input type="text" name="persons" autofocus placeholder="Enter your name" size="30" required><br><br>
MOBILE NO:
<input type="number" name="phnos" placeholder="Enter your mobile number" maxlength="13" required><br><br>
Location:
    <input type="text" name="localitys" placeholder="Enter your location" size="30" required><br><br>
    OCCUPATION:
<input type="text" name="workers" placeholder="Enter work name" required><br><br>
DATE:
<input type="date" name="dates" placeholder="Enter date"><br><br>
<input type="radio" name="frn">Are you free
    <input type="submit" style="margin-left:5px" value="Login">
   </h3></form>
</body>
</html>