<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="In">
   <h3><h1>User</h1><br><br>
Name:
<input type="text" name="person" autofocus placeholder="Enter your name" size="30" required><br><br>
MOBILE NO:
<input type="number" name="ph.no" placeholder="Enter your mobile number" maxlength="13" required><br><br>
Location:
    <input type="text" name="locality" placeholder="Enter your location" size="30" required><br><br>
    Which worker do you want:
<input type="text" name="worker" placeholder="Enter work name" required><br><br>
DATE:
<input type="date" name="date" placeholder="Enter date">
    <input type="submit" style="margin-left:5px" value="Login">
   </h3></form>
</body>
</html>