<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:linear-gradient(rgb(176, 230, 188),rgb(231, 249, 183))">
    <div style="padding-left:500px; padding-top:150px;padding-bottom:202px"><form method="GET" action="Out">
   <h2><h1>Worker</h1><br><br>
Name:
<input type="text" name="persons" autofocus placeholder="Enter your name" size="30" required><br><br>
MOBILE NO:
<input type="number" name="phnos" placeholder="Enter your mobile number" maxlength="13" required><br><br>
Location:
    <input type="text" name="localitys" placeholder="Enter your location" size="30" required><br><br>
    OCCUPATION:
<input type="text" name="workers" placeholder="Enter work name" required><br><br>
DATE:
<input type="date" name="dates" placeholder="Enter date"><br><br>
<input type="radio" name="frn">Are you free<br><br>
    <input type="submit" style="margin-left:5px" value="Login">
   </h2></form></div>
</body>
</html>