<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h2>Input Form</h2>
    <form action="/In" method="get">
        <label for="locality">Locality:</label>
        <input type="text" name="locality" required><br>
        <label for="date">Date:</label>
        <input type="date" name="date" required><br>
        <label for="worker">Worker:</label>
        <input type="text" name="worker" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
